.viewerOpen {
    display: flex;
    height: 50px;
    align-items: center;
    vertical-align: middle;
    margin: 20px 0;
}

.closeLobby {
    background-color: var(--cancel-button-color);
    margin: 25px 0px;
}

.closeLobby:hover {
    border-color: rgba(0, 0, 0, 0.2)
}

.p-toast-message-content {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 5px;
}

.p-toast-message {
    border-radius: 5px;
    backdrop-filter: blur(8px);
    margin-top: 15px;
}

.p-toast-message-icon {
    transform: scale(2.0)
}

.p-toast-message-success {
    background-color: color-mix(in srgb, var(--confirm-button-color) 50%, #00000000 50%)
}

.p-toast-message-success .p-toast-icon-close {
    background-color: color-mix(in srgb, var(--confirm-button-color) 50%, #000000 50%);
}

.p-toast-icon-close:hover {
    border-color: color-mix(in srgb, var(--confirm-button-color) 30%, #000000 70%);
}