VITE_BACKEND_URL=http://localhost:3000 #This is the URL where the server will make HTTP requests.
VITE_SOCKET_URL=http://localhost:3000 #This is the URL to which the Socket.IO library will try to connect. DO NOT USE ANY PATHS, AS OTHERWISE THE LIBRARY WILL INTERPRET IT AS ROOMS. This should just be the root address of where the backend is running. 
VITE_SOCKET_PATH=/socket.io/ #If the backend is running behind a path, add the path to the beginning of this. See https://socket.io/docs/v4/client-options/#path
#VITE_SKIP_ANIMATIONS=true #Uncomment this to skip animations. Intended for testing.
LOBBY_CODE_LENGTH=4 #How many digits the user code should have. Make sure that the frontend and the backend have the same length.