.tooltip {
    max-width: 200px;
    z-index: 10;
}

.tooltipIcon {
    margin: 0 5px;
}

@keyframes loadingAnimation {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

.loadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.loadingIcon {
    margin: 10%;
    animation-name: loadingAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.popupBackground {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0%;
    top: 0%;
    z-index: 100;
}

.popupContainer {
    position: absolute;
    width: 80vw;
    left: 10vw;
    height: 80vh;
    top: 10vh;
    background-color: var(--secondary-color);
    border-radius: 30px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popupContainer .popupText {
    color: var(--secondary-text-color);
    font-size: 1.5rem;
    margin: auto;
}

.popupContainer .buttonsContainer {
    margin: 5vh 5vw;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.popupContainer .buttonsContainer img {
    width: 15vw;
    height: 10vh;
    filter: invert();
}

.popupContainer .buttonsContainer button {
    display: flex;
    justify-content: center;
}

.popupContainer .confirmButton {
    background-color: var(--confirm-button-color);
}

.popupContainer .confirmButton:hover {
    border-color: rgba(1, 1, 1, 0.3);
}

.popupContainer .cancelButton {
    background-color: var(--cancel-button-color);
}

.popupContainer .cancelButton:hover {
    border-color: rgba(1, 1, 1, 0.3);
}