.electionTypeSelector {
    min-height: 50px;
    align-items: center;
    display: flex;
    margin: auto;
}

.inputRow {
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    width: 300px;
    justify-content: space-between;
}

.leftAlign {
    width: 100px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    align-self: stretch;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
}
.centerFill {
    justify-self: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    margin-right: 15px;
    flex: 1;
    flex-grow: 1;
    display: flex;
    height: 30px;
}
.centerFill input {
    flex: 1
}
.rightAlign {
    width: 100px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: left;
}

.deleteCandidateButton {
    background-color: var(--primary-color);
    width: 60px;
    height: 30px;
    padding: 0.2em 0.1em;
}

.addCandidateButton {
    min-height: 50px;
    min-width: 100px;
}

.electionControl {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    gap: 10px
}

.electionControl button {
    width: 200px;
    height: 80px;
}

@media only screen and (max-width: 600px) {
    .electionControl button {
        width: 150px;
    }
}

.electionControl button:enabled {
    background-color: var(--primary-color);
}
