.candidatesContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.candidatesContainer a {
    margin: 25px;
    color: var(--secondary-text-color);
    font-weight: 750;
}

.lobbyInfoContainer {
    display: flex;
    flex-direction: column;
}

.resultsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes reveal {
    from {opacity: 0; rotate: 20deg; scale: 0;box-shadow: 0px 0px 0px black;}
    to {opacity: 1; rotate: 0; scale: 1; box-shadow: 20% 10% 10% black;}
}

.candidateResultContainer {
    width: 750px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
    animation-name: reveal;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 20px 10px 10px black;
}

.candidateResultContainer .candidatePosition {
    font-size: 30px;
    position: relative;
    float: left;
    width: 50px;
    min-width: 20%;
    max-width: 20%;
}

.candidateResultContainer .candidateName {
    flex-grow: 1;
    flex-basis: 0;
    font-size: 20px;
    color: var(--secondary-text-color);
}

.candidateResultContainer .candidateVotes {
    flex-grow: 0;
    flex-basis: 0;
    width: 50px;
    min-width: 20%;
    max-width: 20%;
}

.codeDisplay {
    font-size: 75px;
}

h1 {
    margin-top: 0;
}