:root {
    background-image: url('./img/bg.png');
    background-position: top center;
    background-size: 25%;
    background-repeat: repeat;
}

.mainIcon {
    padding: 15px;
}

.icon {
    filter: invert(100%);
}

.disabledIcon {
    filter: invert(50%);
}


.mainContainer {
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: safe center;
    justify-items: safe center;
    align-items: center;
    height: 70vh;
    width: 80vw;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-anchor: none;
    border-radius: 25px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--secondary-color);
    background-color: var(--background-color);
    padding: 5vh 5vw;
}

.topbar {
    background-color: var(--primary-color);
    width: 100vw;
    max-height: 20%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    float: left;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}

.codeDisplay {
    background-color: var(--code-background-color);
    padding: 3%;
    color: var(--code-text-color);
    margin: 5% auto;
    flex-shrink: 1;
    justify-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.codeDisplay a {
    color: var(--code-text-color);
    font-weight: 700;
    line-height: 1;
}

.tooltip {
    max-width: 200px;
}

.viewerContainer {
    font-size: 1.2rem;
}